In [2]:
import pandas as pd
import pyarrow.parquet as pq
import seaborn as sns

from matplotlib import pyplot as plt
import warnings
import numpy as np
import datetime
warnings.filterwarnings('ignore')

In [3]:
parquetDf = pq.ParquetDataset('../Data/train_subsession_dateData.parquet')
eventsDf = parquetDf.read().to_pandas()

In [4]:
subs_counts = eventsDf.groupby(['subsession','type']).count()['ts'].unstack(level=-1).fillna(0)
subs_counts

type        carts  clicks  orders
subsession
1             0.0     2.0     0.0
2             2.0    16.0     2.0
3             0.0     8.0     0.0
4             0.0     1.0     0.0
5             0.0    11.0     0.0
...           ...     ...     ...
158811        0.0     2.0     0.0
158812        0.0     2.0     0.0
158813        0.0     1.0     0.0
158814        0.0     3.0     0.0
158815        1.0    10.0     0.0

[158815 rows x 3 columns]